body {
    color: #fff;
    background-color: #000;
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Prevent horizontal scrolling */
}

#services-body {
    background-color: #000;
}

#hero {
    position: relative;
    height: 100vh; /* Full viewport height to cover both header and hero */
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* text-align: center; */
    color: #fff;
    z-index: 1; /* Ensure content is above the video */
}

#hero .video-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Place the video behind the content */
    overflow: hidden;
}

#hero #header-section {
    width: 100%;
}

#hero .video-background iframe, #hero .video-background #player {
    width: 100%;
    height: 100%;
    pointer-events: none; /* Disable mouse events on the video */
    object-fit: cover; /* Ensure the video covers the area */
}

#hero header {
    position: relative;
    background: none; /* Remove the background color */
    z-index: 1; /* Ensure it appears above the video */
    width: 100%;
    padding: 1rem 0; /* Adjust padding to ensure it doesn't collapse */
}

#hero header .container-fluid {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    width: 100%;
}

#hero header h1 {
    margin-bottom: 0.5rem;
}

.hero-content {
    position: relative;
    z-index: 1; /* Ensure it appears above the video */
    margin-top: auto; /* Align to the bottom of the section */
    padding-bottom: 2rem; /* Add some padding to the bottom */
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 1.75em;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.6); /* Add a shadow to the text */
}

.hero-content h2 {
    font-size: 1.75em; /* Explicitly set the font size for <h2> elements */
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.6); /* Add a shadow to the text */
}

@keyframes fadeOut {
    0% { opacity: 1; }
    100% { opacity: 0; }
}

.fade-out {
    animation: fadeOut 2s forwards;
    animation-delay: 1s; /* Text will be visible for 3.5 seconds before fading out */
}

.video-card {
    transition: transform 0.3s, box-shadow 0.3s, filter 0.3s;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.video-card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    filter: brightness(0.9);
}

.video-info h5 {
    margin: 0.5em 0 0;
    font-size: 1.2em;
}

.video-info p {
    margin: 0;
    font-size: 0.9em;
    color: #777;
}

footer p {
    margin: 0;
}

/* About section styling */
#about .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

#about .about-text {
    flex: 1;
    padding-right: 20px;
}

#about .about-text img {
    display: block;
    margin: 0 auto;
    max-width: 100%; /* Ensures responsiveness */
}

#about .about-photo {
    flex: 1;
    text-align: center;
}

#about .about-photo img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900

.work-sans-<uniquifier> {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

/* Default layout for larger screens */
#latest-projects {
    display: flex;
    align-items: center;
    background-color: #1c1c1c;
    border-radius: 15px;
    padding: 0;
    margin: 80px;
    height: 80vh;
    overflow: hidden;
}

#latest-projects h2 {
    text-align: center; 
    font-size: 2.5vw;
}

#latest-projects p {
    text-align: center; 
    margin-top: 2vw; 
    font-size: 1.5vw;
}

#latest-projects .left-section {
    flex: 1;
    max-width: 65%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#latest-projects .right-section {
    flex: 1;
    max-width: 35%;
    display: flex;
    justify-content: flex-end;
}

#latest-projects .embedded-videos {
    display: flex;
    justify-content: center;
    gap: 2vw;
    flex-wrap: wrap;
}

/* Style for individual iframes (YouTube videos) */
#latest-projects iframe {
    width: 30%;
    max-width: 560px;
    aspect-ratio: 16 / 9;
    height: auto;
    box-sizing: border-box;
}

#latest-projects img {
    border-radius: 0 15px 15px 0; /* Rounded corners on the right */
    width: 100%; /* Make image take full width */
    max-height: 100%;
    object-fit: cover;
    display: block;
}

/* Media query for mobile screens */
@media (max-width: 768px) {
    #latest-projects {
        flex-direction: column;
        height: auto;
        margin: 2vw;
    }

    #latest-projects h2 {
        font-size: 20px;
    }
    
    #latest-projects p {
        margin-top: 8px; 
        font-size: 16px;
    }
    
    #latest-projects .left-section {
        padding: 40px; 
        max-width: 100%;
    }

    #latest-projects .right-section {
        max-width: 100%;
        justify-content: center;
    }

    #latest-projects .embedded-videos {
        flex-direction: column;
        width: 100%;
        gap: 20px;
        display: flex;
        align-items: center;
        padding: 0;
        margin: 0;
    }

    #latest-projects iframe {
        width: 90%; /* Make iframes take up almost full width on mobile */
        box-sizing: border-box; /* Ensure width includes paddings and borders */
    }

    #latest-projects img {
        width: 100%; /* Make image take full width on mobile */
        max-height: auto;
        object-fit: contain;
        border-radius: 0 0 15px 15px; /* Rounded corners on the bottom */
    }
}

*/ Hidden Section */
.about-the-movie {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0; /* Remove padding inside sections */
    margin: 0; /* Remove margin between sections */
    background-color: #fff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.section-content {
    display: flex;
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.section-image {
    width: 50%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
}

.intro-content {
    max-width: 600px;
    width: 100%;
    padding: 20px;
    margin: 0 auto;
    text-align: center;
}

.intro-content h2 {
    color: #5a5a8c;
    font-size: 2rem;
    margin-bottom: 15px;
}

.text-content {
    width: 45%;
    padding: 20px;
}

.text-content h2 {
    color: #5a5a8c;
    font-size: 2rem;
    margin-bottom: 15px;
}

.text-content p {
    margin-bottom: 20px;
    font-size: 1rem;
}

.btn {
    padding: 10px 20px;
    background-color: #9095e0; /* Purple color */
    border-color: #9095e0; /* Ensure border color matches */
    color: #000;
    text-decoration: none;
    border-radius: 5px;
    border-width: 3px; /* Default is 2px */
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

form .btn {
    padding-top: 0.375rem;  /* Vertical padding (top) */
    padding-bottom: 0.375rem;  /* Vertical padding (bottom) */
    padding-left: 0.875rem;  /* Horizontal padding (left) */
    padding-right: 0.875rem;  /* Horizontal padding (right) */
}

.btn:hover {
    background-color: #000; 
    border-color: #6d72bf; /* Darker purple color */
    color: #6d72bf; /* Ensure text color matches */
    border-width: 3px;
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

@media (max-width: 768px) {
    .section-content {
        flex-direction: column;
    }

    .text-content {
        width: 100%;
        text-align: center;
    }

    .section-image {
        width: 100%;
        margin-bottom: 20px;
    }
    .thanks-row {
        flex-direction: column;
        text-align: center;
    }

    .thanks-row p {
        margin-top: 10px;
    }
}

.special-thanks {
    text-align: center;
    padding: 40px 20px;
    background-color: #f8f8f8;
}

.special-thanks h2 {
    font-size: 2.5rem;
    color: #3f5d7d;
    margin-bottom: 30px;
}

.thanks-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 900px;
    margin: 0 auto;
}

.thanks-row {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    width: 100%;
    padding: 15px 20px;
    border-radius: 5px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 15px;
    align-items: center;
}

.thanks-left {
    flex: 1;
    align-items: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    text-align: left;
}

.thanks-right {
    flex: 3;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
}

.thanks-row strong {
    color: #5a5a8c;
    font-size: 1.2rem;
    display: block;
}

.thanks-row p {
    color: #333;
    margin: 0; 
}

.thanks-row em {
    font-size: 0.9rem;
    color: #888;
    margin-left: 0;
    display: block;
    margin-top: 5px;
    width: 100%;
}

#review .form-group div {
    display: flex;
    align-items: center;
    justify-content: flex-start; /* Aligns content to the left */
}

#review .form-group div label {
    margin-left: 10px; /* Adds a small space between the radio button and the label */
}

#review .container {
    max-width: 600px; /* Limits the width of the form */
    margin: 0 auto;    /* Centers the form horizontally */
}

/*
#contact .container {
    max-width: 600px; /* Limits the width of the form */
    margin: 0 auto;    /* Centers the form horizontally */
}
*/
/*
#contact .container h2, #contact .container p {
    color: white;
}
*/
#review .button-container {
    display: flex;
    justify-content: center; /* Centers the buttons horizontally */
    gap: 10px; /* Optional: adds space between the buttons */
}

.video-section {
    position: relative;
    width: 100%;
    height: 100vh; /* Full viewport height */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Ensures no overflow happens outside the section */
}

.video-section .background-image {
    position: absolute;
    top: 10%;
    left: 0;
    width: 100%;
    height: 80%;  /* Make sure it covers the full height of the section */
    background-image: url('photos/mountains.png');
    background-size: cover;
    background-position: center;
    filter: brightness(0.5);
    z-index: -1;  /* Ensure the background stays behind the content */
}

.content-wrapper {
    width: 100%; /* Ensure the entire content wrapper takes full width */
    max-width: 1200px; /* Limit the max width of the whole content */
    text-align: center; /* Centers the text horizontally */
    z-index: 1;  /* Keeps the content in front of the background */
    padding: 20px;  /* Optional: padding around the content */
}

.aftt-intro-text {
    max-width: 600px; /* Limits the width of the text */
    margin: 0 auto;   /* Centers the text */
}

.video-container {
    width: 100%; /* Ensures video container takes full width */
    display: flex;
    justify-content: center; /* Centers the video horizontally */
    margin-top: 20px;
}

.video-section h2,
.video-section p {
    color: white;  /* Ensure text is readable */
    margin: 10px 0;  /* Add some margin for spacing */
}

.video-section .video-embed {
    width: 60%;  /* Adjust to your preferred width */
    aspect-ratio: 16 / 9;
    height: auto;
    max-width: 1200px;  /* Optional: max width for larger screens */
    margin: 20px auto;  /* Centers the video horizontally and adds space */
    border: none;
}

.footer {
    /*background-color: #f9f5e5; Light background like in old mraomedia site */
    background-color: #000;
    padding: 40px 0;
}

.footer-logo {
    max-width: 250px; /* Adjust the logo size */
    width: 100%;
}

.footer p {
    margin: 0;
    /*color: #006b75; Text color similar to old mraomedia site */
    color: #fff;
}

.footer a {
    text-decoration: none;
}

.social-icon {
    width: 30px;
    height: 30px;
    margin: 0 10px;
    vertical-align: middle;
}

.social-icon.icon1:hover {
  content: url('photos/instagram-purple.png'); /* Second image */
}

.social-icon.icon2:hover {
  content: url('photos/youtube-purple.png'); /* Second image */
}

.social-icon.icon3:hover {
  content: url('photos/x-purple.png'); /* Second image */
}

.social-icon.icon4:hover {
  content: url('photos/tiktok-purple.png'); /* Second image */
}

@media (max-width: 768px) {
    .footer .text-center {
        text-align: center !important; /* Ensures proper centering on mobile */
    }
    .footer .text-md-left {
        text-align: center !important; /* Centers logo on smaller screens */
    }
    .footer .text-md-right {
        text-align: center !important; /* Centers social icons on smaller screens */
    }
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: black;
    color: white;
}

.header-logo {
    padding-left: 50px;
}

.header-logo img {
    max-width: 80%;
    height: auto;
    width: auto;
}

/* Navigation Links Styles */

/* Make the navbar background transparent */
.navbar {
  background-color: transparent !important;
}

/* Change text color for navbar links for better contrast on transparent background */
.navbar .nav-link {
  color: white; /* Text color for navbar links */
}

/* Optional: Change the color of navbar links on hover */
.navbar .nav-link.montserrat-300:hover {
  color: #aeb3fc; /* Hover color */
}

.navbar .nav-link.montserrat-300.active {
  color: #aeb3fc; /* Active page color, same as hover color */
}

/* Hamburger Icon Styles */
/*
header .hamburger {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

header .hamburger .bar {
    width: 25px;
    height: 3px;
    background-color: white;
}
*/

/* Media Query for Small Screens */
@media (max-width: 768px) {
    .header-logo img {
        max-width: 70%;
    }

    header {
        flex-direction: column;
        align-items: center;
    }
}

.services {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.service-item {
    width: 300px;
    background-color: #1a1a1a;
    padding: 20px;
    border-radius: 10px;
}
.service-item img {
    width: 100%;
    border-radius: 10px;
}
.service-item h3 {
    margin: 15px 0 10px;
    font-size: 1.5rem;
    color: white;
}
.service-item p {
    font-size: 0.9rem;
    line-height: 1.5;
    color: white;
}

@media screen and (max-width: 768px) {
    .services {
        flex-direction: column;
        align-items: center;
    }
}

.gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    max-width: 1200px;
    margin: auto;
}

.gallery-item {
    position: relative;
}

.gallery-item img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.caption {
    margin-top: 5px;
    font-size: 0.9rem;
    color: #666;
    text-align: center;
}

/* Adjust layout for smaller screens */
@media screen and (max-width: 768px) {
    .gallery {
        grid-template-columns: 1fr;
    }
}

.text-wrapper {
    display: flex;
    justify-content: flex-end; /* Aligns the content container towards the right */
    padding: 50px; /* Adds space around the container */
}

.text-container {
    max-width: 60%; /* Controls the width of the text container */
    padding: 20px;
}

.four-text-container {
    max-width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    margin: 0 auto;
}

.four-text-container .column {
    width: 23%; /* Adjust width as needed */
    margin-top: 0; /* Reset margin */
    display: flex;
    flex-direction: column;
}

.four-text-container .column:nth-child(1) {
    margin-top: 0; /* First column stays at the top */
}

.four-text-container .column:nth-child(2) {
    margin-top: 40px; /* Adjust this value for desired drop */
}

.four-text-container .column:nth-child(3) {
    margin-top: 55px; /* Adjust this value for desired drop */
}

.four-text-container .column:nth-child(4) {
    margin-top: 70px; /* Adjust this value for desired drop */
}

.services-page {
    text-align: center;
    padding: 50px 0;
    background-color: #000;
}

.services-page h1 {
    font-size: 3em;
    margin-bottom: 30px;
    color: white;
}

.service-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.service-box {
    background-color: #111;
    border: 2px solid #f2f2f2;
    width: 380px;
    height: 520px;
    padding: 20px;
    text-align: left;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.service-box img {
    width: 100%;
    height: auto;
}

.service-box h3 {
    font-size: 1.5em;
    margin-top: 20px;
    margin-bottom: 10px;
    color: white;
}

.service-box p {
    font-size: 1em;
    line-height: 1.6;
    color: white;
}

.cta-section {
    background-color: #000;
    color: #000;
    padding-bottom: 100px;
    margin-top: 0;
    text-align: center;
}

.cta-section h2 {
    font-size: 2em;
}

.cta-section p {
    font-size: 1.1em;
    margin-bottom: 20px;
}

.cta-button {
    display: inline-block;
    background-color: #9095e0;
    color: #000;
    padding: 15px 30px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.cta-button:hover {
    background-color: #6d72bf;
}

#hero-services {
    position: relative;
    height: 90vh; /* Full viewport height to cover both header and hero */
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: #fff;
    z-index: 1; /* Ensure content is above the video */
    background-color: #000;
}

#hero-services .video-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 85%;
    height: 100%;
    margin-left: 15%; /* Push it to the right */
    z-index: -1; /* Place the video behind the content */
    overflow: hidden;
}

#hero-services .video-background iframe, #hero-services .video-background #player-services {
    width: 100%;
    height: 100%;
    pointer-events: none; /* Disable mouse events on the video */
    object-fit: cover; /* Ensure the video covers the area */
}

#why-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 40px 40px 40px;
    background-color: #000;
    color: white;
}

#why-container #image-section {
    flex: 1;
}

#why-container #image-section img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

#why-container #text-section {
    flex: 1;
    margin-left: 30px;
}

#why-container #text-section h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

#why-container #text-section p {
    font-size: 16px;
    margin-bottom: 20px;
}

#why-container .checklist {
    list-style: none;
    padding: 0;
}

#why-container .checklist li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

#why-container .checklist li::before {
    content: '✔';
    color: #00ff00;
    margin-right: 10px;
}

@media (max-width: 768px) {
    #why-container {
        flex-direction: column;
        text-align: center;
    }

    #why-container #text-section {
        margin-left: 0;
        margin-top: 20px;
    }
}
/*
#contact-section {
    background-color: #000;
}
*/
#cta-container {
    max-width: 940px; /* Limits the width of the container */
    margin: 0 auto;    /* Centers content horizontally */
    background-color: #f2f2f2;
    padding: 10px;
}

/* Container to hold both slideshow and text */
.slideshow-text-container {
    display: flex;
    justify-content: flex-start; /* Aligns items to the start (left) */
    align-items: flex-start;
    gap: 20px; /* Optional: space between slideshow and text */
    color: white;
    padding: 100px 40px 40px 40px;
}

/* Slideshow container */
.slideshow-container {
    width: 60%; /* Adjust width as needed */
    height: 70vh;
    overflow: hidden;
    position: relative;
}

.slides {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 1.5s ease-in-out; /* Smooth fade-in and fade-out */
}

/* Visible slide */
.slides.show {
    opacity: 1;
}

/* Ensure images fit within the container */
.slide-image {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Scales the image to cover the container while maintaining aspect ratio */
    display: block; /* Removes extra spacing below images */
}

/* Text section */
.slideshow-text-container #text-section {
    flex: 1;
    margin-left: 30px;
}

.slideshow-text-container #text-section h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.slideshow-text-container #text-section p {
    font-size: 16px;
    margin-bottom: 20px;
}

.slideshow-text-container .checklist {
    list-style: none;
    padding: 0;
}

.slideshow-text-container .checklist li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.slideshow-text-container .checklist li::before {
    content: '✔';
    color: #00ff00;
    margin-right: 10px;
}

/* <uniquifier>: Use a unique and descriptive class name */
/* <weight>: Use a value from 100 to 900 */

.montserrat-100 {
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

.montserrat-200 {
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

.montserrat-300 {
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.montserrat-400 {
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.montserrat-500 {
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.montserrat-600 {
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.montserrat-700 {
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.montserrat-800 {
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

.montserrat-900 {
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}

/* Font Styles for Text Elements */

h0 {
    display: block;
    font-size: 2em;
    margin-before: 0.67em;
    margin-after: 0.67em;
    margin-start: 0;
    margin-end: 0;
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

h1 {
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

h2 {
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

p {
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

/* CONTACT FORM 2 CSS */

#contact {
  width: 100%;
  height: 100%;
}

.section-header {
  text-align: center;
  margin: 0 auto;
  padding: 40px 0;
  font: 300 60px 'Oswald', sans-serif;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 6px;
}

.contact-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  padding: 20px;
  position: relative;
  max-width: 840px;
}

/* Left contact page */
.form-horizontal {
  /*float: left;*/
  max-width: 400px;
  font-family: 'Lato';
  font-weight: 400;
}

.form-control, 
textarea {
  max-width: 400px;
  background-color: #000;
  color: #fff;
  letter-spacing: 1px;
}

form div div input.form-control {
  max-width: 400px;
  background-color: #000;
  color: #fff;
  letter-spacing: 1px;
}

.send-button {
  margin-top: 15px;
  height: 34px;
  width: 400px;
  overflow: hidden;
  transition: all .2s ease-in-out;
}

.alt-send-button {
  width: 400px;
  height: 34px;
  transition: all .2s ease-in-out;
}

.send-text {
  display: block;
  margin-top: 10px;
  font: 700 12px 'Lato', sans-serif;
  letter-spacing: 2px;
}

.alt-send-button:hover {
  transform: translate3d(0px, -29px, 0px);
}

/* Begin Right Contact Page */
.direct-contact-container {
  max-width: 400px;
}

/* Location, Phone, Email Section */
.contact-list {
  list-style-type: none;
  margin-left: -30px;
  padding-right: 20px;
}

.list-item {
  line-height: 4;
  color: #aaa;
}

.contact-text {
  font: 300 18px 'Lato', sans-serif;
  letter-spacing: 1.9px;
  color: #bbb;
}

.contact-blurb {
  font: 300 18px 'Lato', sans-serif;
  color: #bbb;
  width: 90%;
  max-width: 300px;
  margin: 0 auto;
  text-align: center;
}

.place {
  margin-left: 62px;
}

.phone {
  margin-left: 56px;
}

.gmail {
  margin-left: 53px;
}

.contact-text a {
  color: #bbb;
  text-decoration: none;
  transition-duration: 0.2s;
}

.contact-text a:hover {
  color: #fff;
  text-decoration: none;
}

hr {
  border-color: rgba(255,255,255,.6);
}

/* Begin Media Queries*/
@media screen and (max-width: 850px) {
  .contact-wrapper {
    display: flex;
    flex-direction: column;
  }
  .direct-contact-container, .form-horizontal {
    margin: 0 auto;
  }  
  
  .direct-contact-container {
    margin-top: 60px;
    max-width: 300px;
  }    
}

@media screen and (max-width: 569px) {

  .direct-contact-container, .form-wrapper {
    float: none;
    margin: 0 auto;
  }  
  .form-control, textarea {
    
    margin: 0 auto;
  }
 
  
  .name, .email, textarea {
    width: 280px;
  } 
  
  .direct-contact-container {
    margin-top: 60px;
    max-width: 280px;
  } 
  
}

@media screen and (max-width: 410px) {
  .send-button {
    width: 99%;
  }
}
