body {
    font-family: 'Arial', sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Prevent horizontal scrolling */
}

#hero {
    position: relative;
    height: 100vh; /* Full viewport height to cover both header and hero */
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: #fff;
    z-index: 1; /* Ensure content is above the video */
}

#hero .video-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Place the video behind the content */
    overflow: hidden;
}

#hero #header-section {
    width: 100%;
}

#hero .video-background iframe, #hero .video-background #player {
    width: 100%;
    height: 100%;
    pointer-events: none; /* Disable mouse events on the video */
    object-fit: cover; /* Ensure the video covers the area */
}

#hero header {
    position: relative;
    background: none; /* Remove the background color */
    z-index: 1; /* Ensure it appears above the video */
    width: 100%;
    padding: 1rem 0; /* Adjust padding to ensure it doesn't collapse */
}

#hero header .container-fluid {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    width: 100%;
}

#hero header h1 {
    margin-bottom: 0.5rem;
}

.hero-content {
    position: relative;
    z-index: 1; /* Ensure it appears above the video */
    margin-top: auto; /* Align to the bottom of the section */
    padding-bottom: 2rem; /* Add some padding to the bottom */
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 1.75em;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.6); /* Add a shadow to the text */
}

.hero-content h2 {
    font-size: 1.75em; /* Explicitly set the font size for <h2> elements */
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.6); /* Add a shadow to the text */
}

@keyframes fadeOut {
    0% { opacity: 1; }
    100% { opacity: 0; }
}

.fade-out {
    animation: fadeOut 2s forwards;
    animation-delay: 1s; /* Text will be visible for 3 seconds before fading out */
}

.video-card {
    transition: transform 0.3s, box-shadow 0.3s, filter 0.3s;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.video-card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    filter: brightness(0.9);
}

.video-info h5 {
    margin: 0.5em 0 0;
    font-size: 1.2em;
}

.video-info p {
    margin: 0;
    font-size: 0.9em;
    color: #777;
}

footer p {
    margin: 0;
}

nav .nav-link {
    font-weight: bold;
    transition: color 0.3s;
}

nav .nav-link:hover {
    color: #ffc107; /* Change to a brighter color on hover */
}

/* About section styling */
#about .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

#about .about-text {
    flex: 1;
    padding-right: 20px;
}

#about .about-text img {
    display: block;
    margin: 0 auto;
    max-width: 100%; /* Ensures responsiveness */
}

#about .about-photo {
    flex: 1;
    text-align: center;
}

#about .about-photo img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900

.work-sans-<uniquifier> {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

/* Default layout for larger screens */
#latest-projects {
    display: flex;
    align-items: center;
    background-color: #1c1c1c;
    border-radius: 15px;
    padding: 0;
    margin: 80px;
    height: 80vh;
    overflow: hidden;
}

#latest-projects h2 {
    text-align: center; 
    font-size: 2.5vw;
}

#latest-projects p {
    text-align: center; 
    margin-top: 2vw; 
    font-size: 1.5vw;
}

#latest-projects .left-section {
    flex: 1;
    max-width: 65%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#latest-projects .right-section {
    flex: 1;
    max-width: 35%;
    display: flex;
    justify-content: flex-end;
}

#latest-projects .embedded-videos {
    display: flex;
    justify-content: center;
    gap: 2vw;
    flex-wrap: wrap;
}

/* Style for individual iframes (YouTube videos) */
#latest-projects iframe {
    width: 30%;
    max-width: 560px;
    aspect-ratio: 16 / 9;
    height: auto;
    box-sizing: border-box;
}

#latest-projects img {
    border-radius: 0 15px 15px 0; /* Rounded corners on the right */
    width: 100%; /* Make image take full width */
    max-height: 100%;
    object-fit: cover;
    display: block;
}

/* Media query for mobile screens */
@media (max-width: 768px) {
    #latest-projects {
        flex-direction: column;
        height: auto;
        margin: 2vw;
    }

    #latest-projects h2 {
        font-size: 20px;
    }
    
    #latest-projects p {
        margin-top: 8px; 
        font-size: 16px;
    }
    
    #latest-projects .left-section {
        padding: 40px; 
        max-width: 100%;
    }

    #latest-projects .right-section {
        max-width: 100%;
        justify-content: center;
    }

    #latest-projects .embedded-videos {
        flex-direction: column;
        width: 100%;
        gap: 20px;
        display: flex;
        align-items: center;
        padding: 0;
        margin: 0;
    }

    #latest-projects iframe {
        width: 90%; /* Make iframes take up almost full width on mobile */
        box-sizing: border-box; /* Ensure width includes paddings and borders */
    }

    #latest-projects img {
        width: 100%; /* Make image take full width on mobile */
        max-height: auto;
        object-fit: contain;
        border-radius: 0 0 15px 15px; /* Rounded corners on the bottom */
    }
}

*/ Hidden Section */
.about-the-movie {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0; /* Remove padding inside sections */
    margin: 0; /* Remove margin between sections */
    background-color: #fff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.section-content {
    display: flex;
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.section-image {
    width: 50%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
}

.intro-content {
    max-width: 600px;
    width: 100%;
    padding: 20px;
    margin: 0 auto;
    text-align: center;
}

.intro-content h2 {
    color: #5a5a8c;
    font-size: 2rem;
    margin-bottom: 15px;
}

.text-content {
    width: 45%;
    padding: 20px;
}

.text-content h2 {
    color: #5a5a8c;
    font-size: 2rem;
    margin-bottom: 15px;
}

.text-content p {
    margin-bottom: 20px;
    font-size: 1rem;
}

.btn {
    padding: 10px 20px;
    background-color: #004d40;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.btn:hover {
    background-color: #003d33;
}

@media (max-width: 768px) {
    .section-content {
        flex-direction: column;
    }

    .text-content {
        width: 100%;
        text-align: center;
    }

    .section-image {
        width: 100%;
        margin-bottom: 20px;
    }
    .thanks-row {
        flex-direction: column;
        text-align: center;
    }

    .thanks-row p {
        margin-top: 10px;
    }
}

.special-thanks {
    text-align: center;
    padding: 40px 20px;
    background-color: #f8f8f8;
}

.special-thanks h2 {
    font-size: 2.5rem;
    color: #3f5d7d;
    margin-bottom: 30px;
}

.thanks-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 900px;
    margin: 0 auto;
}

.thanks-row {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    width: 100%;
    padding: 15px 20px;
    border-radius: 5px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 15px;
    align-items: center;
}

.thanks-left {
    flex: 1;
    align-items: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    text-align: left;
}

.thanks-right {
    flex: 3;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
}

.thanks-row strong {
    color: #5a5a8c;
    font-size: 1.2rem;
    display: block;
}

.thanks-row p {
    color: #333;
    margin: 0; 
}

.thanks-row em {
    font-size: 0.9rem;
    color: #888;
    margin-left: 0;
    display: block;
    margin-top: 5px;
    width: 100%;
}

#review .form-group div {
    display: flex;
    align-items: center;
    justify-content: flex-start; /* Aligns content to the left */
}

#review .form-group div label {
    margin-left: 10px; /* Adds a small space between the radio button and the label */
}

#review .container {
    max-width: 600px; /* Limits the width of the form */
    margin: 0 auto;    /* Centers the form horizontally */
}

#contact .container {
    max-width: 600px; /* Limits the width of the form */
    margin: 0 auto;    /* Centers the form horizontally */
}

#contact .container h2, #contact .container p {
    color: white;
}

#review .button-container {
    display: flex;
    justify-content: center; /* Centers the buttons horizontally */
    gap: 10px; /* Optional: adds space between the buttons */
}

.video-section {
    position: relative;
    width: 100%;
    height: 100vh; /* Full viewport height */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Ensures no overflow happens outside the section */
}

.video-section .background-image {
    position: absolute;
    top: 10%;
    left: 0;
    width: 100%;
    height: 80%;  /* Make sure it covers the full height of the section */
    background-image: url('photos/mountains.png');
    background-size: cover;
    background-position: center;
    filter: brightness(0.5);
    z-index: -1;  /* Ensure the background stays behind the content */
}

.content-wrapper {
    width: 100%; /* Ensure the entire content wrapper takes full width */
    max-width: 1200px; /* Limit the max width of the whole content */
    text-align: center; /* Centers the text horizontally */
    z-index: 1;  /* Keeps the content in front of the background */
    padding: 20px;  /* Optional: padding around the content */
}

.aftt-intro-text {
    max-width: 600px; /* Limits the width of the text */
    margin: 0 auto;   /* Centers the text */
}

.video-container {
    width: 100%; /* Ensures video container takes full width */
    display: flex;
    justify-content: center; /* Centers the video horizontally */
    margin-top: 20px;
}

.video-section h2,
.video-section p {
    color: white;  /* Ensure text is readable */
    margin: 10px 0;  /* Add some margin for spacing */
}

.video-section .video-embed {
    width: 60%;  /* Adjust to your preferred width */
    aspect-ratio: 16 / 9;
    height: auto;
    max-width: 1200px;  /* Optional: max width for larger screens */
    margin: 20px auto;  /* Centers the video horizontally and adds space */
    border: none;
}

.footer {
    background-color: #f9f5e5; /* Light background like in your image */
    padding: 40px 0;
}

.footer-logo {
    max-width: 250px; /* Adjust the logo size */
    width: 100%;
}

.footer p {
    margin: 0;
    color: #006b75; /* Text color similar to your design */
}

.social-icon {
    width: 30px;
    height: 30px;
    margin: 0 10px;
    vertical-align: middle;
}

@media (max-width: 768px) {
    .footer .text-center {
        text-align: center !important; /* Ensures proper centering on mobile */
    }
    .footer .text-md-left {
        text-align: center !important; /* Centers logo on smaller screens */
    }
    .footer .text-md-right {
        text-align: center !important; /* Centers social icons on smaller screens */
    }
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: black;
    color: white;
}

.header-logo {
    padding-left: 50px;
}

.header-logo img {
    max-width: 450px;
}

header .nav {
    display: flex;
    padding-right: 50px; /* Add more padding to the right of the navigation links */
}

header .nav-link {
    text-decoration: none;
    color: #000; /* Text color */
}

header .nav-link:hover {
    color: #007bff; /* Optional hover color */
}

.services {
    display: flex;
    justify-content: center;
    gap: 20px;
}
.service-item {
    width: 300px;
    background-color: #1a1a1a;
    padding: 20px;
    border-radius: 10px;
}
.service-item img {
    width: 100%;
    border-radius: 10px;
}
.service-item h3 {
    margin: 15px 0 10px;
    font-size: 1.5rem;
    color: white;
}
.service-item p {
    font-size: 0.9rem;
    line-height: 1.5;
    color: white;
}
@media screen and (max-width: 768px) {
    .services {
        flex-direction: column;
        align-items: center;
    }
}

.gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    max-width: 1200px;
    margin: auto;
}

.gallery-item {
    position: relative;
}

.gallery-item img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.caption {
    margin-top: 5px;
    font-size: 0.9rem;
    color: #666;
    text-align: center;
}

/* Adjust layout for smaller screens */
@media screen and (max-width: 768px) {
    .gallery {
        grid-template-columns: 1fr;
    }
}

.text-wrapper {
    display: flex;
    justify-content: flex-end; /* Aligns the content container towards the right */
    padding: 50px; /* Adds space around the container */
}

.text-container {
    max-width: 60%; /* Controls the width of the text container */
    padding: 20px;
}

.four-text-container {
    max-width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    margin: 0 auto;
}

.four-text-container .column {
    width: 23%; /* Adjust width as needed */
    margin-top: 0; /* Reset margin */
    display: flex;
    flex-direction: column;
}

.four-text-container .column:nth-child(1) {
    margin-top: 0; /* First column stays at the top */
}

.four-text-container .column:nth-child(2) {
    margin-top: 40px; /* Adjust this value for desired drop */
}

.four-text-container .column:nth-child(3) {
    margin-top: 55px; /* Adjust this value for desired drop */
}

.four-text-container .column:nth-child(4) {
    margin-top: 70px; /* Adjust this value for desired drop */
}

.services-page {
    text-align: center;
    padding: 50px 0;
    background-color: #000;
}

.services-page h1 {
    font-size: 3em;
    margin-bottom: 30px;
    color: white;
}

.service-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.service-box {
    background-color: #111;
    border: 1px solid #333;
    width: 300px;
    padding: 20px;
    text-align: left;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.service-box img {
    width: 100%;
    height: auto;
}

.service-box h3 {
    font-size: 1.5em;
    margin-top: 20px;
    margin-bottom: 10px;
    color: white;
}

.service-box p {
    font-size: 1em;
    line-height: 1.6;
    color: white;
}

.cta-section {
    background-color: #000;
    color: #000;
    padding-bottom: 100px;
    margin-top: 0;
    text-align: center;
}

.cta-section h2 {
    font-size: 2em;
}

.cta-section p {
    font-size: 1.1em;
    margin-bottom: 20px;
}

.cta-button {
    display: inline-block;
    background-color: #8bc34a;
    color: #000;
    padding: 15px 30px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.cta-button:hover {
    background-color: #7cb342;
}

#hero-services {
    position: relative;
    height: 90vh; /* Full viewport height to cover both header and hero */
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: #fff;
    z-index: 1; /* Ensure content is above the video */
    background-color: #000;
}

#hero-services .video-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 85%;
    height: 100%;
    margin-left: 15%; /* Push it to the right */
    z-index: -1; /* Place the video behind the content */
    overflow: hidden;
}

#hero-services .video-background iframe, #hero-services .video-background #player-services {
    width: 100%;
    height: 100%;
    pointer-events: none; /* Disable mouse events on the video */
    object-fit: cover; /* Ensure the video covers the area */
}

.why-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #000;
    color: white;
}

.why-container .image-section {
    flex: 1;
}

.why-container .image-section img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.why-container .text-section {
    flex: 1;
    margin-left: 30px;
}

.why-container .text-section h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.why-container .text-section p {
    font-size: 16px;
    margin-bottom: 20px;
}

.why-container .checklist {
    list-style: none;
    padding: 0;
}

.why-container .checklist li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.why-container .checklist li::before {
    content: '✔';
    color: #00ff00;
    margin-right: 10px;
}

@media (max-width: 768px) {
    .why-container {
        flex-direction: column;
        text-align: center;
    }

    .why-container .text-section {
        margin-left: 0;
        margin-top: 20px;
    }
}

#contact-section {
    background-color: #000;
}

#cta-container {
    max-width: 950px; /* Limits the width of the container */
    margin: 0 auto;    /* Centers content horizontally */
    background-color: #f2f2f2;
}
